<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>

<body>
    <div id="resume">
        <div class="main">
            <span v-html="name.chinese"></span>
            <span v-html="name.english"></span>
            <div v-html="name.id"></div>
            <div v-html="name.content"></div>
        </div>
        <div class="ex">
            <div v-html="title.content1"></div>
            <a v-bind:href="contect.github">
                <img class="incon" v-bind:src="contect.githubicon" />
            </a>
            <a v-bind:href="contect.fb">
                <img class="incon" v-bind:src="contect.fb_incon" />
            </a>
            <a v-bind:href="contect.web">
                <img class="incon" v-bind:src="contect.web_icon" />
            </a>
            <!-- v-bind:href可以簡化為:href -->
            <!-- githubicon,github_icon後則無法有圖片 -->
        </div>
        <div class="ex">
            <div v-html="title.content2"></div>
            <li v-for="experience in experiences">
                {{ experience.text }}
            </li>
        </div>
        <div class="ex">
            <div v-html="title.content3"></div>
            <!-- 兩組vue的迴圈還在思考如何呈現會比較好 -->
            <div id="circle">1</div><span v-html="skills.text1"></span><br>
            <div id="circle">2</div><span v-html="skills.text2"></span><br>
            <div id="circle">3</div><span v-html="skills.text3"></span><br>
            <div id="circle">4</div><span v-html="skills.text4"></span><br>
            <!-- <li v-for="skill in skills">{{ skill.text }} -->

        </div>
        <div class="ex">
            <div v-html="title.content4"></div>
            待建立
        </div>

        <div class="ex">
            <div id="linetext">
                <li>147</li>
                <li>258</li>
                <li>369</li>
            </div>
        </div>

        <div class="ex">
        </div>

        <!-- <img id="line" src="line.png"> -->

        <div class="foot">iachievedream foot 2020</div>
    </div>
    <script src="html_vue.js"></script>
</body>

</html>