<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”viewport” content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>

<body>
    <div id="resume">
        <div class="main">
            <font size="5">
                <span v-html="name.chinese"></span>
                <span v-html="name.english"></span>
                <div v-html="name.id"></div>
            </font>
            <div v-html="name.content"></div>

        </div>
        <div class="ex">
            <div v-html="title.content1"></div>
            <a v-bind:href="contect.github">
                <img class="incon" v-bind:src="contect.githubicon" />
            </a><br>
            <a v-bind:href="contect.fb">
                <img class="incon" v-bind:src="contect.fb_incon" />
            </a><br>
            <a v-bind:href="contect.web">
                <img class="incon" v-bind:src="contect.web_icon" />
            </a>
            <!-- v-bind:href可以簡化為:href -->
            <!-- githubicon,github_icon後則無法有圖片 -->
        </div>
        <div class="ex">
            <div v-html="title.content2"></div>
            <li v-for="experience in experiences">
                {{ experience.text }}
            </li>
        </div>
        <div class="ex">
            <div v-html="title.content3"></div>
            <!-- 兩組vue的迴圈還在思考如何呈現會比較好 -->
            <div id="circle">1</div><span v-html="skills.text1"></span><br>
            <div id="circle">2</div><span v-html="skills.text2"></span><br>
            <div id="circle">3</div><span v-html="skills.text3"></span><br>
            <div id="circle">4</div><span v-html="skills.text4"></span><br>
            <div id="circle">5</div><span v-html="skills.text5"></span><br>
            <!-- <li v-for="skill in skills">{{ skill.text }} -->

        </div>
        <div class="ex">
            <div v-html="title.content4"></div>
            <div id="circle">1</div>http：<a v-bind:href="demo.text1">virtualboxubuntu1.fuwork.xyz</a><br>
            <div id="circle">2</div>https：<a v-bind:href="demo.text2">virtualboxubuntu1.fuwork.xyz</a><br>
            <div id="circle">3</div>測試 laravel：<a v-bind:href="demo.text2">virtualboxubuntu1.fuwork.xyz</a><br>
        </div>

        <div class="ex">
            <div v-html="title.content5"></div>
            <div id="circle">1</div>主要整理筆記：<a v-bind:href="demobook.text1">demo_code</a><br>
            <div id="circle">2</div>laravel筆記：<a v-bind:href="demobook.text2">iachievedream/blog-laravel</a><br>
            <div id="circle">3</div>舊筆記，還需重新整理：<a v-bind:href="demobook.text3">notebook</a><br>
        </div>

        <div class="ex">
            <div v-html="title.content6"></div>
            <div id="circle">1</div>laravel 的 blog：<a v-bind:href="demo_code.text1">blog-laravel</a><br>
            <div id="circle">2</div>laravel 的 blog，採用JWT方式：<a v-bind:href="demo_code.text2">blog-laravel-jwt</a><br>
        </div>

        <!-- <img id="line" src="line.png"> -->

        <div class="foot">iachievedream foot 2020</div>
    </div>
    <script src="html_vue.js"></script>
</body>

</html>